.cart-container {
	margin-left: auto;
	cursor: pointer;

	img {
		width: 33px;
	}

	.cart-count {
		margin-left: -23px;		 
		padding-bottom: 20px;
		color:black;
		border-radius: 10px;

		position: relative;
		bottom: 4px;
	}
}
